body{
    background-image: url(https://marketplace.canva.com/EAFTQEWI-Ko/1/0/1600w/canva-black-sky-galaxy-stars-desktop-wallpaper-iWMZ0xN6KXs.jpg);
    background-repeat: repeat-y;
    background-size: 250px;
}
.torch1{
    position:relative;
    left: 250px;
    top: 80px;
}
.torch2{
    position:relative;
    right: 250px;
    bottom: 120px;
}
.para{
    text-align: relative;
    margin-left: 250px;
    font-family:fantasy
}
.loki{
    display: block;
    margin: auto;
    width: 30%;
    
}
